# **Liabraries Importing**

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import statsmodels.api as sm

# **Dataset Retrieving**

In [3]:
df = pd.read_excel("/content/Sales_Data.xlsx")

# **Exploratory Data Analysis**

In [4]:
df.head()

,Date,Country,City,Product,Year,Quarter,Month,Transaction ID,Gender,Units Sold,Unit Cost,Unit Selling Price,Total Cost,Tota Sales,Total Profit,Unnamed: 15
0,2018-11-24,Syria,Hama,Laptop,2018,Q4,2018-11-24,ID - 4237,Male,50,5761,9567,288050,478350,190300,NaN
1,2019-05-10,Saudi Arabia,Abha,Laptop,2019,Q2,2019-05-10,ID - 4351,Male,24,2708,4260,64992,102240,37248,NaN
2,2020-09-30,Syria,Hama,Printer,2020,Q3,2020-09-30,ID - 4465,Female,46,7014,10795,322644,496570,173926,NaN
3,2019-05-27,Palestine,Nablus,Cell Phone,2019,Q2,2019-05-27,ID - 4579,Female,49,8475,12500,415275,612500,197225,NaN
4,2017-07-08,Saudi Arabia,Jeddah,Cell Phone,2017,Q3,2017-07-08,ID - 4693,Female,77,4644,8561,357588,659197,301609,NaN

In [5]:
df["Country"].value_counts()

Country
Syria           1461
Saudi Arabia    1461
Palestine       1461
Egypt           1461
Name: count, dtype: int64